<!-- app.component.html -->
<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-info" >
  <div class="container">
    <a class="navbar-brand" href="#">Moon Insurance</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="text-info text-center">Welcome to Moon Insurance</h1>
<router-outlet></router-outlet>